@import "~office-ui-fabric-react/dist/sass/References.scss";

.accordionDemo {
  .itemCell {
    // Feel free to add your own styles
    color:inherit;
  }
}

.itemContent {

  .itemReponse {
    // Feel free to add your own styles
    color: inherit;
  }

  .itemIndex {
    // Feel free to add your own styles
    color: inherit;
  }
}

.itemQuestion {
  // Feel free to add your own styles
  color: inherit;
}
